body {
  font-family: 'Poppins', sans-serif;
}


h1{
    text-align: center;
   
    font-size: 350%

  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(233, 84, 84);
  
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #973d3d79;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f76363;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #973d3d79;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #9c0000;}

.dropdown:hover .dropdown-content {
  display: block;
}


img.alineadoTextoImagenCentro{
  vertical-align: middle;
  /* Ojo vertical-align: text-middle no existe*/
}
img.alineadoTextoImagenAbajo{
  vertical-align: text-bottom;  
}

@media (min-width: 768px) {
  .sobre-nosotros {        
    padding-top: 2rem;        
    display: grid;        
    grid-template-columns: repeat(2, 1fr);        
    column-gap: 2rem;    }}

    .sobre-nosotros__texto {
      padding-right: 150px;
      font-size: 20px;
      text-align: justify;
    }
    .messi {
      padding-right: 100px;
      
    }

    .messi2 {
      padding-left: 90px;
      padding-top: 25px;
    }
    .textooo {
      padding-left: 100px;
    }
   
    nav {
      align-items: center;
    }
